@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}

.hbtn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  border-radius: 20px;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  background: rgba(121, 161, 152, 0.447);
}

.hbtn:hover {
  background: #10221b;
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  border-radius: 20px;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background: #10221b;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #10221b;
}

.home {
  padding: 0;
}

.home .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 2rem 9%;
}

.home .box.second {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.home .box .content {
  width: 50rem;
}

.home .box .content span {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  color: #10221b;
}

.home .box .content h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  color: white;
  padding-top: .5rem;
}

.home .box .content p {
  line-height: 2;
  color: #10221b;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #10221b;
}

/*adventure homepage section starts*/
#adventure {
  background-color: #fff;
}

.category .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}

.category .box-container .box {
  text-align: center;
  padding: 1rem;
}

.category .box-container .box img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.category .box-container .box h3 {
  font-size: 2rem;
  color: #219150;
}

.category .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}


.adventurepage {
  padding-top: 5%;
}


.adventureh1 {
  padding-top: 50px;
  color: #219150;
  font-weight: 700;
  font-size: 45px;
}

hr {
  width:20%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-top: 50px;
}

.container h5{
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  color: var(--black);
}

.container p{
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: var(--gray-1);
  padding-top: 20px;
}

section.information .info-1 {
  padding: 183px e;
}

.post {
  padding-top: 100px;
}

.lpost {
  padding-bottom: 100px;
}

/* -----------------------home page map css start--------------- */
.map {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}

.map .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  padding-bottom: 5rem;
}

.map .image img {
  border-radius: 10px;
}

.map .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.map .content h3 {
  font-size: 3rem;
  color: #219150;
}

.map .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.blogs {
  background-color: #eee;
}

.blogs .slide {
  text-align: center;
  padding: 2rem;
}

.blogs .slide img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

.blogs .slide .icons {
  background: #10221b;
  border-radius: .5rem;
  padding: 1rem;
  position: relative;
  top: -2rem;
  display: inline-block;
}

.blogs .slide .icons a {
  font-size: 1.4rem;
  color: #fff;
  margin: 0 1rem;
}

.blogs .slide .icons a:hover {
  color: #219150;
}

.blogs .slide .icons a i {
  padding-right: .5rem;
  color: #219150;
}

.blogs .slide h3 {
  font-size: 2rem;
  color: #10221b;
}

.blogs .slide p {
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
  color: #10221b;
}

/* Event homepage css start*/
.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 10px;
}

.event {
  background: white;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 50px;
}

.eventrow {
  max-width: 1920px;
  margin: 50px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.card {
  float: left;
  padding: 0 1.7rem 5.7rem 1.7rem;
  width: 25%;
}

.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card .menu-content::before, .card .menu-content::after {
  content: "";
  display: table;
}

.card .menu-content::after {
  clear: both;
}

.card .menu-content li {
  display: inline-block;
}

.card .menu-content a {
  color: #fff;
}

.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  transform: translate(-50%, 0);
}

.card .wrapper {
  background-color: #fff;
  min-height: 480px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.card .wrapper:hover .data {
  transform: translateY(0);
}

.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}

.card .data .Econtent {
  padding: 1em;
  position: relative;
  z-index: 1;
  transform: translateY(14px);
}

.card .author {
  font-size: 12px;
}

.card .title {
  margin-top: 10px;
}

.card .text1 {
  height: 70px;
  margin: 0;
  font-size: 13px;
}

.card input[type=checkbox] {
  display: none;
}

.card input[type=checkbox]:checked + .menu-content {
  transform: translateY(-60px);
}

/*Box */
.example-2 .wrapper {
  background: url(/images/sripada.jpg) center/cover no-repeat;
}

.example-2 .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}

.example-2 .head {
  color: #fff;
  padding: 1em;
}

.example-2 .head::before, .example-2 .head::after {
  content: "";
  display: table;
}

.example-2 .head::after {
  clear: both;
}

.example-2 .head .date {
  float: left;
  font-size: 12px;
}

.example-2 .menu-content {
  float: right;
}

.example-2 .menu-content li {
  margin: 0 5px;
  position: relative;
}

.example-2 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}

.example-2 .data {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}

.example-2 .title a {
  color: #fff;
}

.example-2 .Ebutton {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}

.example-2 .Ebutton::after {
  content: "→";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}

.example-2 .Ebutton:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

.heading1 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding-top: 20px;
}

/* Product home page section css start */
.products {
  position: relative;
  overflow-x: hidden !important;
  background-color: #eee;
}

.products body {
  font-family: 'Poppins', sans-serif;
}

.products a, a:hover {
  text-decoration: none;
}

.picon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.item-bg {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.3s;
  left: -30px;
}

.item-bg.active {
  left: 0;
  top: 0;
  opacity: 1;
}

.news-slider {
  z-index: 2;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.heading1 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  padding-top: 20px;
}

.news-slider__wrp {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}

.news-slider__item {
  width: 400px;
  flex-shrink: 0;
}

.news-slider__item.swiper-slide {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.news-slider__item.swiper-slide-active, .news-slider__item.swiper-slide-prev, .news-slider__item.swiper-slide-next {
  opacity: 1;
  pointer-events: auto;
}

.news-slider__ctr {
  position: relative;
  z-index: 12;
}

.news-slider__arrow {
  background: #fff;
  border: none;
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 12;
  cursor: pointer;
  outline: none !important;
}

.news-slider__arrow:focus {
  outline: none !important;
}

.news-slider__arrow .icon-font {
  display: inline-flex;
}

.news-slider__arrow.news-slider-prev {
  left: 15px;
  transform: translateY(-50%);
}

.news-slider__arrow.news-slider-next {
  right: 15px;
  transform: translateY(-50%);
}

.news-slider__pagination {
  text-align: center;
  margin-top: 50px;
}

.news-slider__pagination .swiper-pagination-bullet {
  width: 13px;
  height: 10px;
  display: inline-block;
  background: rgb(39, 39, 39);
  opacity: 0.2;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}

.news-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #1a1919;
  width: 100px;
  transition-delay: 0s;
}

.news__item {
  padding: 40px;
  color: black;
  border-radius: 10px;
  display: block;
  transition: all 0.3s;
}

.news__item.active {
  color: #222222;
}

.news__item.active .news-date, .news__item.active .news__title, .news__item.active .news__txt {
  opacity: 1;
}

.news__item.active .news__img {
  box-shadow: none;
}

.news-date {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid;
  display: inline-block;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.news-date__title {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 500;
}

.news-date__txt {
  font-size: 16px;
}

.news__title {
  font-size: 25px;
  font-weight: 600;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: opacity 0.3s;
  text-align: center;
}

.news__txt {
  margin: 10px 0;
  line-height: 1.6em;
  font-size: 15px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.news__img {
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  height: 200px;
  margin-top: 30px;
  width: 100%;
  transition: all 0.3s;
  transform-origin: 0% 0%;
}

.news__img img {
  max-width: 100%;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

/*a .news__item:hover {
  background-color: red;
}*/

/* product homepage section ends */

.reviews .slide .text {
  padding: 2rem;
  font-size: 1.5rem;
  font-style: italic;
  background: #eee;
  border-radius: .5rem;
  color: #10221b;
  line-height: 2;
  position: relative;
  z-index: 0;
  margin-bottom: 3rem;
}

.reviews .slide .text::before {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: .7rem;
  height: 3rem;
  width: 3rem;
  background: #eee;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.reviews .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.reviews .slide .user h3 {
  font-size: 2rem;
  color: #10221b;
}

.reviews .slide .user span {
  color: #219150;
  font-size: 1.5rem;
}

.newsletter {
  background: #e9d6d6;
}

.newsletter .content {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.newsletter .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #10221b;
}

.newsletter .content form {
  margin-top: 2rem;
  background: #fff;
  border-radius: 5rem;
  border: 0.2rem solid #10221b;
  padding: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter .content form .email {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #10221b;
  padding: 0 1.3rem;
}

.newsletter .content form .btn {
  margin-top: 0;
  border-radius: 5rem;
  background: #10221b;
  color: #fff;
}

.newsletter .content form .btn:hover {
  background: none;
  color: #10221b;
}

.clients .silde {
  text-align: center;
}

.clients .silde img {
  height: 12rem;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/ftr2.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/ftr2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #fff;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
  text-decoration: none;
}

.footer .box-container .box a i {
  color: #219150;
  padding-right: .5rem;
}

.footer .box-container .box a:hover {
  color: #219150;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #fff;
}

.footer .credit span {
  color: #219150;
}

/* Scroll to top */
.to-top {
  background: rgb(22, 21, 25);
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color: #fff;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
  z-index: 10;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

/* ---------- Responsive Media Queries ---------- */
@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }

  .home .box {
    padding: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: right !important;
  }

  .home .box.second {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: left !important;
  }

  .home .box .content {
    text-align: center;
  }

  .home .box .content span {
    font-size: 6rem;
  }

  .home .box .content h3 {
    font-size: 7rem;
  }
}

/* product home page section media query starts*/
@media screen and (max-width: 1300px) {
  .news-slider {
    max-width: 1000px;
  }
}

@media screen and (max-width: 992px) {
  .news-slider__item {
    width: 340px;
  }

  .news__item {
    padding: 30px;
  }
}

@media screen and (max-width: 576px) {
  .news-slider {
    margin-top: 45px;
  }

  .news-slider__pagination .swiper-pagination-bullet-active {
    width: 70px;
  }

  .news__item {
    padding: 20px;
  }

  .news-date {
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0;
  }

  .news-date__title {
    margin-right: 10px;
  }

  .news__title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .news__img {
    height: 180px;
    margin-top: 20px;
  }
}

@media (max-width: 560px) {
  .map .image img{
    width: 100%;
  }

  .adventurepage .container img {
    width: 100vw;
  }
}

@media (max-width: 792px) {
  .map .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .map .content h3{
    text-align: center;
  }

  .map .content {
    text-align: center;
    margin-top: -20px;
  }

  .map .content p{
    text-align: justify;
  }

  .to-top {
    font-size:20px;
    width:40px;
    height:40px;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: 400px;
    margin: auto;
  }

  .card .data .Econtent {
    transform: translateY(19px);
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 400px;
    margin: auto;
  }

  .card .data .Econtent {
    transform: translateY(19px);
  }
}
/*# sourceMappingURL=style.css.map */
/* CSS */
.curated-group-section {
  width: 100%;
  margin: 40px auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.curated-group-section p {
  color: #222;
  font-size: 50px;
  
  line-height: 1.3;
}

.curated-group-section p:last-child {
  margin-bottom: 0;
  font-size: 18px;
}

.faq-container {
  width: 80%;
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  overflow: hidden;
}

h2::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #041d5c;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  animation: underlineEffect 1s ease-out forwards;
}

@keyframes underlineEffect {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.faq-item {
  border-bottom: 2px solid #ddd;
  padding: 20px 0;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding: 6px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question:hover {
  background: #f1f1f1;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 20px;
}

.faq-answer {
  display: none;
  padding: 10px;
  font-size: 18px;
  color: #333;
  text-align: left;
  background: #f9f9f9;
  border-radius: 10px;
}

.hidden {
  display: none;
}

#viewMore,
#viewLess {
  margin-top: 20px;
  display: block;
  align-items: center;
  
  justify-content: center;
  width: 200px;
  margin: 0 auto;
  text-align: center;   
  font-weight: bold;
  text-decoration: none;

  background: #041d5c;
  color: white;
  padding: 18px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
}

#viewMore:hover,
#viewLess:hover {
  background: #062d89;
}



/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #3E0E12;
  --first-color-dark: #2F0A0D;
  --text-color: #524748;
  --first-color-light: #7B6F71;
  --first-color-lighten: #FBF9F9;

  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Margins =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*===== z index =====*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

 
@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}


h1,h2,h3,ul,p{
  margin: 0;
}

h2,h3{
  font-weight: var(--font-semi-bold);
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

/*===== CLASS CSS =====*/
.section {
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
}

/*===== LAYOUT =====*/
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

/*===== BUTTON =====*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: .75rem 1rem;
  border-radius: .25rem;
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-dark);
}

/*===== CONTACT ME =====*/
.contact__container 
{ background-color: #fff;
  row-gap: 2.5rem;
}

.contact__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.contact__box {
  background-color: #fff;
  border-radius: .5rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}

.contact__icon, .contact__title {
  color: var(--first-color);
}

.contact__icon {
  font-size: 2rem;
}

.contact__title {
  font-size: var(--h3-font-size);
  margin: var(--mb-1) 0;
}

.contact__social {
  color: var(--first-color-light);
  font-size: 1.25rem;
  margin: 0 var(--mb-1);
}

.contact__box:hover {
  box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

.contact__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.contact__input, .contact__button {
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: var(--normal-font-size);
}

.contact__input {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--first-color-light);
  color: var(--first-color);
  border-radius: .5rem;
  margin-bottom: var(--mb-1);
}

.contact::placeholder {
  color: var(--first-color-light);
  font-family: 'Poppins', sans-serif;
  font-weight: var(--font-semi-bold);
}

.contact__button {
  cursor: pointer;
  border: none;
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px) {
  .contact__form {
    width: 450px;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

:root {
  --first-clr: #5a56e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-clr {
  color: var(--first-clr);
}

body {
  font-family: 'Poppins', sans-serif;
}

.landing-page {
  padding: 80px 0;
  user-select: none;
}
.landing-page .container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.landing-page .content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page .content .text-cont {
  width: 60%;
}
.landing-page .content .text-cont .header {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.1;
}
.landing-page .content .text-cont .description {
  font-size: 16px;
  margin: 30px 0;
  color: #777;
  font-weight: 400;
  width: 80%;
}
.landing-page .content .text-cont .btn {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  padding: .6rem 1rem;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0 0px 5px rgba(0, 0, 0, .1);
  transition: all .2s linear;
}
.landing-page .content .text-cont .btn-discover {
  min-width: 160px;
  margin-right: 5px;
  color: #FFF;
  background-color: var(--first-clr);
}
.landing-page .content .text-cont .btn-discover:hover {
  border-color: var(--first-clr);
  background-color: transparent;
  color: var(--first-clr);
}
.landing-page .content .text-cont .btn-play {
  color: var(--first-clr);
}
.landing-page .content .text-cont .btn-play:hover {
  border-color: var(--first-clr);
  background-color: var(--first-clr);
  color: #FFF;
}

.landing-page .content .img-cont {
  width: 35%;
  position: relative;
}
.landing-page .content .img-cont::before,
.landing-page .content .img-cont::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--first-clr);
}
.landing-page .content .img-cont::before {
  top: -5%;
  left: -7%;
  width: 100%;
  height: 60px;
}
.landing-page .content .img-cont::after {
  height: 25vh;
  width: 25vh;
  max-width: 180px;
  max-height: 180px;
  bottom: -5%;
  left: -5%;
  border-radius: 0 0 0 15px;
}
.landing-page .content .img-cont .img {
  width: 100%;
  display: block;
  border-radius: 0 0 0 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .25);
}

@media screen and (max-width: 650px) {
  .landing-page .content {
    flex-direction: column;
  }
  .landing-page .content .text-cont,
  .landing-page .content .text-cont .description {
    width: 100%;
  }
  .landing-page .content .text-cont {
    text-align: center;
  }
  .landing-page .content .img-cont {
    width: 80%;
    margin-top: 80px;
  }
}






* {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif, cursive;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover {
  transition: all 0.5s ease-in-out;
}

.we-are-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 900px;
}

@media screen and (max-width: 860px) {
  .we-are-block {
    height: 2200px;
  }
}

@media screen and (max-width: 500px) {
  .we-are-block {
    height: 2300px;
  }
}

#about-us-section {
  background: #0c4c91;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 860px) {
  #about-us-section {
    flex-direction: column;
    justify-content: space-between;
  }
}

.about-us-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 860px) {
  .about-us-image {
    position: relative;
    width: 100%;
    height: 45%;
  }
}

@media screen and (max-width: 747px) {
  .about-us-image {
    height: 35%;
  }
}

@media screen and (max-width: 644px) {
  .about-us-image img {
    position: absolute;
    left: -220px;
  }
}

.about-us-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 40%;
  height: 80%;
  margin-right: 850px;
  margin-left: 12px;
  z-index: 2;
}

@media screen and (max-width: 1353px) {
  .about-us-info {
    margin-right: 400px;
    width: 60%;
    background: #0c4c9199;
    padding: 0px 25px 0px 0px;
  }
}

@media screen and (max-width: 1238px) {
  .about-us-info {
    margin-right: 340px;
    width: 100%;
  }
}

@media screen and (max-width: 1111px) {
  .about-us-info {
    margin-right: 270px;
  }
}

@media screen and (max-width: 910px) {
  .about-us-info {
    margin-right: 150px;
  }
}

@media screen and (max-width: 860px) {
  .about-us-info {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 20px 0px 20px !important;
    width: 100%;
    height: 55%;
    align-items: center;
  }
}

@media screen and (max-width: 747px) {
  .about-us-info {
    height: 65%;
  }
}

.about-us-info h2 {
  color: white;
  font-size: 40pt;
  text-align: right;
}

@media screen and (max-width: 860px) {
  .about-us-info h2 {
    text-align: center;
  }
}

.about-us-info p {
  color: white;
  font-size: 14pt;
  text-align: right;
}

@media screen and (max-width: 860px) {
  .about-us-info p {
    text-align: center;
  }
}

.about-us-info a {
  background-color: white;
  color: #0c4c91;
  width: 180px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  font-size: 14pt;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.about-us-info a:hover {
  background: #404140;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform: translateY(10px);
}

#history-section {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 860px) {
  #history-section {
    flex-direction: column;
    justify-content: space-between;
  }
}

.history-image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 820px;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 860px) {
  .history-image {
    position: relative;
    width: 100%;
    height: 40%;
  }
}

@media screen and (max-width: 747px) {
  .history-image {
    height: 35%;
  }
}

@media screen and (max-width: 644px) {
  .history-image img {
    position: absolute;
    right: -220px;
  }
}

.history-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 40%;
  height: 80%;
  margin-left: 850px;
  margin-right: 12px;
  z-index: 2;
}

@media screen and (max-width: 1353px) {
  .history-info {
    margin-left: 400px;
    width: 60%;
    background: #ffffff99;
    padding: 0px 0px 0px 25px;
  }
}

@media screen and (max-width: 1238px) {
  .history-info {
    margin-left: 340px;
    width: 100%;
  }
}

@media screen and (max-width: 1111px) {
  .history-info {
    margin-left: 270px;
  }
}

@media screen and (max-width: 910px) {
  .history-info {
    margin-left: 150px;
  }
}

@media screen and (max-width: 860px) {
  .history-info {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 40px 0px 40px !important;
    width: 100%;
    height: 60%;
    align-items: center;
  }
}

@media screen and (max-width: 747px) {
  .history-info {
    height: 65%;
  }
}

.history-info h2 {
  color: #0c4c91;
  font-size: 40pt;
  text-align: left;
}

@media screen and (max-width: 860px) {
  .history-info h2 {
    text-align: center;
  }
}

.history-info p {
  color: #0c4c91;
  font-size: 14pt;
  text-align: left;
}

@media screen and (max-width: 860px) {
  .history-info p {
    text-align: center;
  }
}

.history-info a {
  background-color: #0c4c91;
  color: white;
  width: 180px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  font-size: 14pt;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.history-info a:hover {
  background: #404140;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform: translateY(10px);
}



@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

.intro-text {
    text-align: center;
    padding: 30px 20px;
    background-color: #e3e3e3; /* match image background */
    font-family: 'Poppins', sans-serif;
}

.intro-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.intro-text p {
    font-size: 16px;
    color: #333;
    max-width: 600px;
    margin: 0 auto 20px;
}

.intro-text h3 {
    font-size: 20px;
    margin-top: 10px;
}

.container1 {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container1 {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}



/* Partners CSS */

.partners {
    display: grid;
    place-items: center;
}

h1 {
    font-size: 3rem;
    padding: 20px;
    margin: 20px 0px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
    width: 70vw;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.slider-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: scrolling 20s linear infinite;

}

@keyframes scrolling {

    0% {
        transform: translateX(80%);
    }

    100% {
        transform: translateX(-20%);
    }
}

.slider-items img {
    width: 8%;
    margin: 20px;

}
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");





img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.nav__buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .3s;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 4rem 2rem;
}

.section__title-1,
.section__title-2 {
  position: relative;
  font-size: var(--h1-font-size);
  width: max-content;
  margin: 0.75rem auto 2rem;
}

.section__title-1 span,
.section__title-2 span {
  z-index: 5;
  position: relative;
}

.section__title-1::after,
.section__title-2::after {
  content: "";
  width: 40px;
  height: 28px;
  background-color: hsla(14, 98%, 50%, 0.2);
  position: absolute;
  top: -4px;
  right: -8px;
}

.section__title-2::after {
  top: initial;
  bottom: -4px;
}

.geometric-box {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--first-color);
  rotate: -30deg;
}

.geometric-box::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid var(--black-color);
  left: -5px;
  top: -5px;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== BUTTON ===============*/
.button,
.button__ghost {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.button {
  background-color: var(--black-color);
  padding: 1.1rem 1.5rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  border-radius: 0.75rem;
  transition: background-color 0.4s;
}

.button i {
  font-size: 1.25rem;
}

.button:hover {
  background-color: var(--first-color);
}

.button__ghost {
  border: 3px solid var(--black-color);
  color: var(--black-color);
  padding: 0.5rem;
  border-radius: 0.7rem;
  transition: border 0.4s, color 0.4s;
}

.button__ghost i {
  font-size: 1.25rem;
}

.button__ghost:hover {
  border: 3px solid var(--first-color);
}

/*=============== ABOUT ===============*/
.about {
  background-color: var(--container-color);
  transition: background-color 0.4s;
}

.about__container {
  row-gap: 0;
}

.about__perfil {
  position: relative;
  justify-self: center;
  margin-block: 2.5rem 4.5rem;
}

.about__image {
  width: 220px;
}

.about__img {
  position: relative;
  border: 4px solid var(--white-color);
  z-index: 1;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.about__shadow,
.about__line,
.about__box {
  position: absolute;
  border-radius: 0.75rem;
}

.about__shadow {
  width: 150px;
  height: 385px;
  background-color: var(--body-color);
  top: -2.5rem;
  right: -3.5rem;
  border-bottom: 4px solid var(--first-color);
  transition: background-color 0.4s;
}

.about__perfil .geometric-box {
  top: 1.5rem;
  right: -2.8rem;
}

.about__line {
  filter: invert(1);
  right: -1.25rem;
  top: 6rem;
  width: 50px;
  transition: filter 0.4s;
}

.about__box {
  width: 40px;
  height: 40px;
  background-color: var(--first-color);
  right: -0.5rem;
  bottom: 1.5rem;
}

.about__info {
  padding-left: 1.25rem;
}

.about__description {
  position: relative;
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.about__description::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: var(--title-color);
  position: absolute;
  left: -1.75rem;
  top: 0.5rem;
}

.about__list {
  list-style: square;
  color: var(--title-color);
  margin-bottom: 3rem;
}

.about__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
  .about__image {
    width: 180px;
  }
  .about__shadow {
    height: 330px;
    right: -2.5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .about__container{
    grid-template-columns: 350px;
    justify-content: center;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
   .about__container {
    grid-template-columns: 460px 525px;
    gap: 1rem 9rem;
    align-items: center;
    padding-block: 1rem;
  }
  .about__perfil {
    order: -1;
    grid-row: 1 / 3;
  }
  .about__image {
    width: 350px;
  }
  .about__img {
    border: 6px solid var(--white-color);
  }
  .about__shadow {
    width: 240px;
    height: 615px;
    top: -4rem;
    right: -5.5rem;
    border-bottom: 6px solid var(--first-color);
  }
  .about__perfil .geometric-box {
    right: -4rem;
    top: 4.5rem;
  }
  .about__line {
    width: 80px;
    right: -2rem;
    top: 10rem;
  }
  .about__box {
    width: 64px;
    height: 64px;
    right: -.75rem;
  }
  .about__container .section__title-1 {
    align-self: flex-end;
    margin-inline: 0;
  }
  .about__info {
    align-self: flex-start;
    padding-left: 3rem;
  }
  .about__description {
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
  }
  .about__description::after {
    width: 32px;
    height: 2px;
    left: -3rem;
    top: 14px;
  }
  .about__list {
    margin-bottom: 5rem;
  }
  .about__buttons {
    justify-content: initial;
  }
  .button__ghost {
    padding: 0.75rem;
  }
  .button__ghost i {
    font-size: 1.5rem;
  }
}

